<% @posts.each do |post| %>
    
    <div class="col-xs-8 col-xs-offset-2">
        <h2 class="center">
            <%= link_to post.title, post_path(post) %>
        </h2> 
    </div>
    
    <div class="well col-xs-8 col-xs-offset-2">
        <h4>Description</h4>
        <hr>
        <%= simple_format post.description %>
        <small>
            created by: <%= link_to post.user.username, user_path(post.user) if post.user %>, <%= time_ago_in_words(post.created_at) %> ago, last updated <%= time_ago_in_words(post.updated_at) %>
        </small>
        <div class="post-actions">
            <%= link_to 'edit this article', edit_post_path(post), class: "btn btn-xs btn-primary" %>
            <%= link_to 'delete this article', post_path(post), method: :delete, 
                data: {confirm: "are you sure?"}, class: "btn btn-xs btn-danger" %>
        </div>
    </div>

<% end %>