<div class="col-xs-8 col-xs-offset-2">
    <h2 class="center">
        <%= @post.title %>
    </h2> 
</div>

<div class="well col-xs-8 col-xs-offset-2">
    <h4>Description</h4>
    <hr>
    <%= simple_format @post.description %>
    <div class="post-actions">
        <%= link_to 'edit this article', edit_post_path(@post), class: "btn btn-xs btn-primary" %>
        <%= link_to 'delete this article', post_path(@post), method: :delete, 
            data: {confirm: "are you sure?"}, class: "btn btn-xs btn-danger" %>
        <%= link_to 'back to articles', posts_path, class: "btn btn-xs btn-success" %>
    </div>
</div>

<div class="well col-xs-8 col-xs-offset-2">
    <p><img src="<%= gravitar_for @post.user if @post.user %>"></p>
    <p>This article was posted by <%= link_to @post.user.username, user_path(@post.user) if @post.user %> <%= time_ago_in_words(@post.created_at) %> ago and was last modified <%= time_ago_in_words(@post.updated_at) %> ago. </p>
</div>
