<h2 align="center">
    Category: <%= @category.name %>
</h2>
<% if logged_in? && current_user.is_admin? %>
    <div class="row center">
        <%= link_to 'Edit Category Name', edit_category_path(@category), class: "btn btn-xs btn-primary" %>
        <%= link_to 'Delete Category', category_path(@category), method: :delete , class: "btn btn-xs btn-danger" %>
    </div>
    <br>
<% end %>
<div align="center">
    <%= will_paginate @category_posts %>
</div>
<%= render 'posts/showposts', obj: @category_posts %>
<div align="center">
    <%= will_paginate @category_posts %>
</div>